* {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

.form-group {
  display: flex;
  flex-direction: column;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  color: black;
  background-color: white;
}


main {
  padding: 1rem;
}



h1 {
  font-weight: bold;
  font-size: 1.5rem;
}
